.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
td {
  margin-right: 5px;
  padding-right: 25px;
}
#loading-overlay.open {
  display: flex;
}
#loading-overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 10px;
  left: 0;
  z-index: 10;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
  color: black;
  font-size: 32px;
  font-weight: 600;
  justify-content: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
